a { color: #ce1d20; }
a:hover { color: #a82528; }

body {
  background:url('../images/20141207001534.png.jpg') top center repeat-y;
}
ul {
  -webkit-padding-start: 25px;
}
.container-fluid {
  max-width:1600px;
}
.column-header-img {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.column-inner {
  background-color: rgba(100%,100%,100%,0.7);
  margin-bottom: 10px;
  padding: 1.5em;
  border-radius: 5px;
}
.column-header-img + .column-inner {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
#about-eidantoei .column-inner {
  background: url('../images/bg-transp-wh-50.png') repeat;
}
.list-group-item {
  padding-top: .25rem;
  padding-bottom: .25rem;
  background-color: rgba(100%,100%,100%,0.3);
}
.list-group-item.disabled {
  color: rgba(0%,0%,0%,0.2);
  background-color: rgba(100%,100%,100%,0.0);
}
.book-title small {
  font-size: 50%;
}
